@using GastroPages.Models
@model GastroPages.Models.HomeKontakteModel
<h2>@ResourcesGastro.Shared.Navi.Kontakt</h2>

@using (Html.BeginForm("KontaktEintragen", "Home", FormMethod.Post, new { id = "EingabeForm" }))
{
<table border="0">

    @if (Session["kontakt"] != null && !Session["kontakt"].Equals(""))
    {
        <tr>
            <td class="Kontaktbestätigung">@ResourcesGastro.Home.Logon.KontaktBestätigung</td>
        </tr>
    }

    @if (Model.Kontakt.Einleitungstext != null && !Model.Kontakt.Einleitungstext.Equals(""))
    {
        <tr>
            <td>@Model.Kontakt.Einleitungstext</td>
        </tr>
    }

    <tr>
        <td><h3>@Model.Kontakt.AdresseName - @ResourcesGastro.Shared.Navi.Inhaber: @Model.Kontakt.AdresseInhaber</h3></td>
    </tr>

    <tr>
        <td>@ResourcesGastro.Shared.Navi.Adresse:</td>
    </tr>
    <tr>
        <td>@Model.Kontakt.AdresseStrasse</td>
    </tr>
    <tr>
        <td>@Model.Kontakt.AdresseZusatz</td>
    </tr>
    <tr>
        <td>@Model.Kontakt.AdressePlz @Model.Kontakt.AdresseOrt</td>
    </tr>
    <tr>
        <td>@ResourcesGastro.Shared.Navi.Email: @Model.Kontakt.Email</td>
    </tr>
    <tr>
        <td>@ResourcesGastro.Shared.Navi.PlanerPdfTelefon: @Model.Kontakt.Telefon</td>
    </tr>
    <tr>
        <td>@ResourcesGastro.Shared.Navi.Telefax: @Model.Kontakt.Telefax</td>
    </tr>
    <tr>
        <td>@Model.Kontakt.TextFuerNachricht</td>
    </tr>
    <tr>
        <td>@ResourcesGastro.Shared.Navi.PlanerPdfName: <input type="text" name="name" id="name" size="20" /></td>
    </tr>
    <tr>
        <td>@ResourcesGastro.Shared.Navi.Email: <input type="text" name="email" id="email" size="20" /></td>
    </tr>
    <tr>
        <td>@ResourcesGastro.Shared.Navi.PlanerPdfTelefon: <input type="text" name="telefon" id="telefon" size="20" /></td>
    </tr>
    <tr>
        <td><textarea name="txtNachricht" id="txtNachricht" cols="20" rows="3"></textarea></td>
    </tr>
    <tr>
        <td><input type="submit" name="" id="" value="@ResourcesGastro.Shared.Navi.BtnSendenText" /></td>
    </tr>
</table>
}
