@using GastroPages.Models
@{
    var viewModel = (MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}
@using Resources = ResourcesGastro.Shared.Navi

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td valign="top" width="600">
                <h1>@Resources.Willkommen</h1>
                <big>
                    <big>
                        @Resources.IndexText1<br />
                        @Resources.IndexText2<br /><br />

                        @Resources.IndexText3<br />
                    </big>
                </big>
            </td>
            <td width="20">&nbsp;</td>
            <td valign="top" class="tdIndexLogo">
                <img src="~/Images/logo.gif" width="500" /><br />
                <big>
                    <big>
                        <b>Restaurant zur Glocke - @Resources.Inhaber Alexander Hert</b>
                        Stiftstraße 39<br />
                        50171 Kerpen<br />
                        @Resources.PlanerPdfTelefon: <a href="tel:+492237591634">02237/591634 </a><br />
                    </big>
                </big><br />
            </td>
        </tr>
    </table>


</div>

<div>
    <div class="col-md-4">
        <h2>@Resources.News</h2>
        <p><small><small>@Resources.IndexNewsNoT</small></small></p>
        @if (viewModel.News.Any())
        {
            <p>
                <b>@viewModel.News.First().Datum.ToShortDateString() - <big>@viewModel.News.First().Überschrift</big></b>
            </p>
            <p>
                <b>@viewModel.News.First().Header.Substring(0,50)...</b>
            </p>
            <p>
                @viewModel.News.First().NewsText.Substring(0, 100)...
            </p>
        }
        else
        {
            <p>
                <b>@Resources.KeineAktuellenNews</b>
            </p>
        }

        <p><a class="btn btn-default" href="/Home/News">@Resources.IndexNewsBtnText &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>@Resources.IndexUmfrageHeader</h2>
        <p><small><small>@Resources.IndexUmfrageNoT</small></small></p>
        <p>@Resources.IndexUmfrageText</p>
        <p><a class="btn btn-default" href="/Home/Umfrage">@Resources.IndexUmfrageBtnText &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>@Resources.IndexTeamHeader</h2>
        <p>@Resources.IndexTeamText</p>
        <p><a class="btn btn-default" href="/Home/About">@Resources.UnserTeam &raquo;</a></p>
    </div>
</div>