@using GastroPages.Models
@model GastroPages.Models.HomeReservierungModel
<h2>@ResourcesGastro.Shared.Navi.Reservierung</h2>
<script>
    function chkBtn() {
        if (document.getElementById("chkDsgvo").checked == true) {
            document.getElementById("BtnSenden").disabled = false;
        } else {
            document.getElementById("BtnSenden").disabled = true;
        }
    }

    function dokumentVollständigGeladen() {
        chkBtn();
    }
    window.addEventListener('load', dokumentVollständigGeladen, false);
</script>
@using (Html.BeginForm("ReservierungEintragen", "Home", FormMethod.Post, new { id = "EingabeForm" }))
{
<table border="0">
    <tr>
        <td valign="top" colspan="2"><b><big>@Model.Ansprache</big></b></td>
    </tr>
    @if (@Model.WichtigerHinweis != null && !@Model.WichtigerHinweis.Equals(""))
    {
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td valign="top" colspan="2" class="ReservierungWichtigerHinweis"><b><big>@Model.WichtigerHinweis</big></b></td>
        </tr>
    }
    <tr><td colspan="2">&nbsp;</td></tr>
    @if (Model.Name == null || Model.Name.Equals(""))
    {
        <tr>
            <td valign="top" width="150"><b>@ResourcesGastro.Shared.Navi.PlanerPdfName:</b></td>
            <td valign="top">@Html.TextBoxFor(model => model.Name, new { size = 30 })</td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td valign="top"><b>@ResourcesGastro.Shared.Navi.PlanerPdfTermin:</b></td>
            <td valign="top">@Html.TextBoxFor(model => model.Datum, new { size = 7 })</td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td valign="top"><b>@ResourcesGastro.Shared.Navi.Uhrzeit:</b></td>
            <td valign="top">@Html.TextBoxFor(model => model.Uhrzeit, new { size = 5 })</td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td valign="top"><b>@ResourcesGastro.Shared.Navi.Personen:</b></td>
            <td valign="top">@Html.TextBoxFor(model => model.Personenzahl, new { size = 3 })</td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td valign="top"><b>@ResourcesGastro.Shared.Navi.PlanerPdfTelefon:</b></td>
            <td valign="top">@Html.TextBoxFor(model => model.Telefon)</td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td valign="top"><b>@ResourcesGastro.Shared.Navi.MitteilungAnWirt</b></td>
            <td valign="top">@Html.TextAreaFor(model => model.Mitteilung, new { cols = 30, rows = 5 })</td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td valign="top"><input class="btn btn-default" type="submit" name="BtnSenden" id="BtnSenden" value="@ResourcesGastro.Shared.Navi.BtnSendenText" /></td>
            <td valign="top" width="300"><input type="checkbox" name="chkDsgvo" id="chkDsgvo" onclick="chkBtn()" /> @ResourcesGastro.Shared.Navi.DsvgoReservierung</td>
        </tr>
    }
    else
    {
        <tr>
            <td valign="top" colspan="2" class="ReservierungBestätigung"><b><big>@ResourcesGastro.Shared.Navi.ReservierungBestätigung</big></b></td>
        </tr>
    }
</table>

}