<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @{
                if (Session.Contents["Nachname"] != null)
                {
                    <div style="color: #ffffff">
                        Sie sind angemeldet: @Session.Contents["Nachname"], @Session.Contents["Vorname"] ----- @Session.Contents["Rolle"]
                    </div>
                }
            }
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Logout", "Logout", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Start", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Benutzer", "Benutzer", "Admin")</li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Speisekarte<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Speisen", "Speisen", "Admin")</li>
                            <li>@Html.ActionLink("Getränke", "Getränke", "Admin")</li>
                            <li>@Html.ActionLink("Mittagstisch", "Mittagstisch", "Admin")</li>
                            <li>@Html.ActionLink("Allergene", "Allergene", "Admin")</li>
                            <li>@Html.ActionLink("Pdf's erstellen", "Index", "Pdf")</li>
                        </ul>
                    </li>
                    
                    <li>@Html.ActionLink("Räume", "Räume", "Admin")</li>
                    <li>@Html.ActionLink("Öffnungszeiten", "Öffnungszeiten", "Admin")</li>
                    
                    <li>@Html.ActionLink("Reservierung", "Reservierung", "Admin")</li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Veranstaltungen<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Speisen", "VeranstaltungsSpeisen", "Admin")</li>
                            <li>@Html.ActionLink("Getränke", "VeranstaltungsGetränke", "Admin")</li>
                        </ul>
                    </li>
                        
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            @RenderBody()
        </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
