@using GastroPages.Models
@{
    var viewModel = (MainLayoutViewModel)ViewBag.MainLayoutViewModel;
}
@using Resources = ResourcesGastro.Shared.Navi
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ihr Restaurant im Zentrum von Kerpen. Traditionelle und bayuwarische Küche zu vernünftigen Preisen. Räumlichkeiten für Veranstaltungen bis zu 100 Personen vorhanden. Ihr Koch Alexander Hert freut sich darauf, Sie zu bergüßen.">
    <meta name="keywords" content="Kerpen, Restaurant Zentrum Kerpen, Gaststätte Kerpen, Restaurant, Gaststätte, Traditionelle Küche, bayrische Küche, bayuwarische Küche, Haxe, Tegernseer, Räumlichkeiten für Veranstaltungen, Koch">

    <title>Restaurant Zur Glocke</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/"><img src="~/Images/home.gif" border="0" width="80" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.UeberUns<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Resources.UnserTeam, "About", "Home")</li>
                            <li>@Html.ActionLink(Resources.News, "News", "Home")</li>
                            <li>@Html.ActionLink(Resources.Raeumlichkeiten, "Räume", "Home")</li>
                            <li>@Html.ActionLink(Resources.Login, "Logon", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(Resources.Speisekarte, "Karte", "Home")</li>
                    <li>@Html.ActionLink(Resources.Mittagstisch, "Mittagstisch", "Home")</li>
                    <li>@Html.ActionLink(Resources.Reservierung, "Reservierung", "Home")</li>
                    <li>@Html.ActionLink(Resources.Veranstaltungsplaner, "Planer", "Home")</li>
                    <li>@Html.ActionLink(Resources.Öffnungszeiten, "Öffnungszeiten", "Home")</li>
                    <li>
                        @{
                            var cucu = "/Images/flagge_de.png"; ;
                            if (HttpContext.Current.Request.Cookies["_culture"] != null)
                            {
                                cucu = "/Images/flagge_" + HttpContext.Current.Request.Cookies["_culture"].Value.Substring(0, 2) + ".png";
                            }
                        }
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><image src="@cucu" width="27" height="18" /><b class="caret"></b></a>
                        
                        <ul class="dropdown-menu">
                            @*<li>@Html.ActionLink("Deutsch", "SetCulture", new { controller = "Home", culture = "de-DE" })</li>*@
                            <li>
                                <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "de-DE" })'>
                                    <img src='@Url.Content("~/Images/flagge_de.png")' width="45" height="29" />
                                </a>
                            </li>
                            @*<li>@Html.ActionLink("English", "SetCulture", new { controller = "Home", culture = "en-US" })</li>*@
                            <li>
                                <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "en-US" })'>
                                    <img src='@Url.Content("~/Images/flagge_en.png")' width="45" height="29" />
                                </a>
                            </li>
                            @*<li>@Html.ActionLink("Espanol", "SetCulture", new { controller = "Home", culture = "es-ES" })</li>*@
                            <li>
                                <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "es-ES" })'>
                                    <img src='@Url.Content("~/Images/flagge_es.png")' width="45" height="29" />
                                </a>
                            </li>

                            @*<li>@Html.ActionLink("Italiano", "SetCulture", new { controller = "Home", culture = "it-IT" })</li>*@
                            <li>
                                <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "it-IT" })'>
                                    <img src='@Url.Content("~/Images/flagge_it.png")' width="45" height="29" />
                                </a>
                            </li>
                            @*<li>@Html.ActionLink("Russki", "SetCulture", new { controller = "Home", culture = "ru-RU" })</li>*@
                            <li>
                                <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "ru-RU" })'>
                                    <img src='@Url.Content("~/Images/flagge_ru.png")' width="45" height="29" />
                                </a>
                            </li>
                        </ul>
                    </li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>
                            @{
                                if (Session["Rolle"] != null)
                                {
                                    <text><b style="color: #ffffff">Angemeldet als: @Session["Nachname"], @Session["Vorname"]  @Html.ActionLink("[X]", "Logout", "Admin")</b></text>
                                }
                            }
                        </li>
                    </ul>
</div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        
            
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="footerNoLink">&nbsp;&nbsp;&nbsp; &copy; @DateTime.Now.Year - @ResourcesGastro.Shared.Navi.Restaurant Zur Glocke</li>
                    <li class="footerNoLink">&nbsp;&nbsp;&nbsp; <img src="~/Images/logoah.gif" border="0" /></li>
                    <li class="footerLink">@Html.ActionLink(Resources.Kontakt, "Contact", "Home")</li>
                    <li class="footerLink">@Html.ActionLink(Resources.Impressum, "Impressum", "Home")</li>


                    @if (viewModel.Youtube != null && !viewModel.Youtube.Equals(""))
                    {
                        <li class="footerLink">
                            <a href="@viewModel.Youtube"><img src="~/Images/social-youtube.png" border="0" /></a><text>&nbsp;&nbsp;&nbsp;</text>
                        </li>}

                    @if (viewModel.Facebook != null && !viewModel.Youtube.Equals(""))
                    {
                        <li class="footerLink">
                            <a href="@viewModel.Youtube"><img src="~/Images/social-facebook.png" border="0" /></a><text>&nbsp;&nbsp;&nbsp;</text>
                        </li>}

                    @if (viewModel.Pinterest != null && !viewModel.Pinterest.Equals(""))
                    {
                        <li class="footerLink">
                            <a href="@viewModel.Pinterest"><img src="~/Images/social-pinterest.png" border="0" /></a><text>&nbsp;&nbsp;&nbsp;</text>
                        </li>}

                    @if (viewModel.Snapchat != null && !viewModel.Snapchat.Equals(""))
                    {
                        <li class="footerLink">
                            <a href="@viewModel.Snapchat"><img src="~/Images/social-snapchat.png" border="0" /></a><text>&nbsp;&nbsp;&nbsp;</text>
                        </li>}

                    @if (viewModel.Instagramm != null && !viewModel.Instagramm.Equals(""))
                    {
                        <li class="footerLink">
                            <a href="@viewModel.Instagramm"><img src="~/Images/social-instagram_2.png" border="0" /></a><text>&nbsp;&nbsp;&nbsp;</text>
                        </li>}

                    @if (viewModel.GooglePlus != null && !viewModel.GooglePlus.Equals(""))
                    {
                        <li class="footerLink">
                            <a href="@viewModel.GooglePlus"><img src="~/Images/social-google.png" border="0" /></a><text>&nbsp;&nbsp;&nbsp;</text>
                        </li>}
                </ul>
            </div>
        </div>
</div>
    <br /><br /><br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
