@using Resources = ResourcesGastro.Shared.Navi
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Raeumlichkeiten, "Räume", "Home")</li>
                    <li>@Html.ActionLink(Resources.Speisekarte, "Karte", "Home")</li>
                    <li>@Html.ActionLink(Resources.Mittagstisch, "Mittagstisch", "Home")</li>
                    <li>@Html.ActionLink(Resources.Reservierung, "Reservierung", "Home")</li>
                    <li>@Html.ActionLink(Resources.Veranstaltungsplaner, "Planer", "Home")</li>

                    <li>@Html.ActionLink(Resources.Öffnungszeiten, "Öffnungszeiten", "Home")</li>
                    <li>@Html.ActionLink(Resources.Login, "Logon", "Home")</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        @{
                            if (Session["Rolle"] != null)
                            {
                                <text><b style="color: #ffffff">Angemeldet als: @Session["Nachname"], @Session["Vorname"]  @Html.ActionLink("[X]", "Logout", "Admin")</b></text>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer style="background-color: #dddddd">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.UeberUns, "About", "Home")</li>
                    <li>@Html.ActionLink(Resources.Kontakt, "Contact", "Home")</li>
                    <li>@Html.ActionLink(Resources.Impressum, "Impressum", "Home")</li>
                    @*<li>@Html.ActionLink("Deutsch", "SetCulture", new { controller = "Home", culture = "de-DE" })</li>*@
                    <li>
                        <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "de-DE" })'>
                            <img src='@Url.Content("~/Images/flagge_de.png")' width="45" height="29" />
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("English", "SetCulture", new { controller = "Home", culture = "en-US" })</li>*@
                    <li>
                        <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "en-US" })'>
                            <img src='@Url.Content("~/Images/flagge_en.png")' width="45" height="29" />
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("Espanol", "SetCulture", new { controller = "Home", culture = "es-ES" })</li>*@
                    <li>
                        <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "es-ES" })'>
                            <img src='@Url.Content("~/Images/flagge_es.png")' width="45" height="29" />
                        </a>
                    </li>

                    @*<li>@Html.ActionLink("Italiano", "SetCulture", new { controller = "Home", culture = "it-IT" })</li>*@
                    <li>
                        <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "it-IT" })'>
                            <img src='@Url.Content("~/Images/flagge_it.png")' width="45" height="29" />
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("Russki", "SetCulture", new { controller = "Home", culture = "ru-RU" })</li>*@
                    <li>
                        <a href='@Url.Action("SetCulture", "Home", new { controller = "Home", culture = "ru-RU" })'>
                            <img src='@Url.Content("~/Images/flagge_ru.png")' width="45" height="29" />
                        </a>
                    </li>
                </ul>
            </div>

            <p>&copy; @DateTime.Now.Year - @ResourcesGastro.Shared.Navi.Restaurant Zur Glocke</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
