@using GastroPages.Models
@model GastroPages.Models.AdminKategorienModel

    <tr>
        <td width="30%" valign="top">

            @{

                foreach (KategorienFuerModel kat in Model.AlleKategorien.Where(x => x.Kategorie.Oberkategorie == 0).OrderBy(x => x.Kategorie.Sortierung))
                {
                    <div class="adminMittagstischLinkLevel1">
                        @Html.ActionLink(kat.Kategorie.Bezeichnung, Model.ActionLink, "Admin", new { katid = kat.Kategorie.id, level = 1 }, new { @class = "adminMittagstischLink" })
                    </div>
                    foreach (KategorienFuerModel k in Model.AlleKategorien.Where(x => x.Kategorie.Oberkategorie == kat.Kategorie.id).OrderBy(x => x.Kategorie.Sortierung))
                    {
                        <div class="adminMittagstischLinkLevel2">
                            @Html.ActionLink(k.Kategorie.Bezeichnung, Model.ActionLink, "Admin", new { katid = k.Kategorie.id, level = 2 }, new { @class = "adminMittagstischLink" })
                        </div>

                        foreach (KategorienFuerModel k2 in Model.AlleKategorien.Where(x => x.Kategorie.Oberkategorie == k.Kategorie.id).OrderBy(x => x.Kategorie.Sortierung))
                        {
                            <div class="adminMittagstischLinkLevel3">
                                @Html.ActionLink(k2.Kategorie.Bezeichnung, Model.ActionLink, "Admin", new { katid = k2.Kategorie.id, level = 3 }, new { @class = "adminMittagstischLink" })
                            </div>
                            foreach (KategorienFuerModel k3 in Model.AlleKategorien.Where(x => x.Kategorie.Oberkategorie == k2.Kategorie.id).OrderBy(x => x.Kategorie.Sortierung))
                            {
                                <div class="adminMittagstischLinkLevel4">
                                    @Html.ActionLink(k3.Kategorie.Bezeichnung, Model.ActionLink, "Admin", new { katid = k3.Kategorie.id, level = 4 }, new { @class = "adminMittagstischLink" })
                                </div>
                            }
                        }
                    }
                }
                <br />
                <script language="javascript">
                    function btnChange() {
                        var test = document.getElementById('BtnSend');
                        if (test.value != null && test.value.length > 0) {
                            test.disabled = false;
                        } else {
                            test.disabled = true;
                        }
                    }

                </script>
                using (Html.BeginForm(Model.ControllerAction, "Admin", FormMethod.Post, new { id = "EingabeForm3" }))
                {
                    <input type="hidden" name="SelectedKategoriId" id="SelectedKategoriId" value="0" />
                    <div>Neue Hauptkategorie:</div>
                    <input type="text" name="NeueHauptKategorieBezeichnung" onchange="btnChange()" id="NeueHauptKategorieBezeichnung" />
                    <br />
                    <input type="submit" class="btn" name="BtnSend" disabled="disabled" id="BtnSend" value="Eintragen" />
                }
            }

        </td>
        <td width="70%" valign="top">
            <table border="0" width="100%" class="adminMittagstischTable">
                <tr>
                    <td width="100%">
                        @if (Model.SelectedKategorie != null)
                        {
                            using (Html.BeginForm(Model.ControllerAction, "Admin", FormMethod.Post, new { id = "EingabeForm1" }))
                            {
                                <input type="hidden" name="SelectedKategoriId" id="SelectedKategoriId" value="@Model.SelectedKategorie.Kategorie.id" />

                                <div class="adminMittagstischKategorieLeft">Bezeichnung ändern:</div> <input class="adminMittagstischKategorieRight" type="text" name="KategorieBezeichnung" id="KategorieBezeichnung" value="@Model.SelectedKategorie.Kategorie.Bezeichnung" /> <input type="text" name="KategorieSortierung" id="KategorieSortierung" value="@Model.SelectedKategorie.Kategorie.Sortierung" size="3" />
                                <br />

                                <div class="adminMittagstischKategorieLeft">Header ändern:</div> <textarea class="adminMittagstischKategorieRight" name="KategorieHeader" id="KategorieHeader" cols="100" rows="3">@Model.SelectedKategorie.Kategorie.Header</textarea>
                                <br />

                                <div class="adminMittagstischKategorieLeft">Footer ändern:</div> <textarea class="adminMittagstischKategorieRight" name="KategorieFooter" id="KategorieFooter">@Model.SelectedKategorie.Kategorie.Footer</textarea>
                                <br />

                                if (!Model.SelectedKategorie.SelectedKategorieHasItems && Model.SelectedKategorie.Level < 4)
                                {
                                    <div class="adminMittagstischKategorieLeft">Neue Unterkategorie:</div> <input class="adminMittagstischKategorieRight" type="text" name="NeueUnterKategorie" id="NeueUnterKategorie" /> <input type="text" name="NeueUnterKategorieSortierung" id="NeueUnterKategorieSortierung" size="3" /><br />

                                    <div class="adminMittagstischKategorieLeft">Header:</div> <textarea class="adminMittagstischKategorieRight" name="NeueKategorieHeader" id="NeueKategorieHeader"></textarea>
                                    <br />

                                    <div class="adminMittagstischKategorieLeft">Footer:</div> <textarea class="adminMittagstischKategorieRight" name="NeueKategorieFooter" id="NeueKategorieFooter"></textarea>
                                    <br />
                                }

                                if (!Model.SelectedKategorie.SelectedKategorieHasItems && !Model.SelectedKategorie.SelectedKategorieHasChilds)
                                {
                                    <div class="adminMittagstischKategorieLeft">Kategorie löschen:  <input type="checkbox" name="KategorieLoeschen" id="KategorieLoeschen" value="x" /></div> <br />
                                }
                                <br />
                                <input type="submit" name="BtnSend" id="BtnSend" value="Eintragen" />
                                <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                @Html.ActionLink("I18n", "Kategorien", "I18n", new { id = Model.SelectedKategorie.Kategorie.id, art = Model.SelectedKategorie.Kategorie.Kategorieart }, null)
                            }
                        }
                        else
                        {
                            <text>Keine Kategorie ausgewählt.</text>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
   
