@using GastroPages.Models
@model GastroPages.Models.AdminMittagstischModel
<h2>Mittagstisch</h2>
<br/>
<table border="0" width="100%">
    <tr>
        <td class="adminMittagstischHeader">Kategorien</td>
        <td></td>
    </tr>
    
    @Html.Partial("_PartialKategorien", Model.AKModel)
    @{
        if (Model.AlleSpeisen != null)
        {
            if (Model.AKModel.SelectedKategorie.SelectedKategorieHasChilds)
            {
                <tr>
                    <td colspan="2"><br /><b><big>Für diese Kategorie können keine Speise eingegeben werden, weil Unterkategorien existieren.</big></b></td>
                </tr>
            }
            else
            {
                //Ab hier Code für die Dartsellung der Speisen
                //Formular für die Speise an sich
                <tr>
                    <td colspan="2">
                        <br />
                        <h2>Speisen</h2>
                        <br /><br />
                        @using (Html.BeginForm("MittagstischSpeisenEintragen", "Admin", FormMethod.Post, new { id = "EingabeForm2" }))
                        {
                            <input type="hidden" name="KategorieId" id="KategorieId" value="@Model.AKModel.SelectedKategorie.Kategorie.id" />
                            <input type="hidden" name="Level" id="Level" value="@Model.AKModel.SelectedKategorie.Level" />
                            <input type="hidden" name="GewählteSpeiseId" id="Level" value="@Model.GewählteSpeise.id" />

                            <div class="adminMittagstischSpeisenBezeichnung">
                                Bezeichnung:<br />
                                <input type="text" name="Bezeichnung" id="Bezeichnung" size="200" value="@Model.GewählteSpeise.Bezeichnung" />
                            </div>

                            <div class="adminMittagstischSpeisenBeschreibung">
                                Beschreibung:<br />
                                <textarea name="Beschreibung" id="Beschreibung" cols="200" rows="2">@Model.GewählteSpeise.Beschreibung</textarea>
                            </div>

                            <div class="adminMittagstischSpeisenPreis">
                                Preis:<br />
                                <input type="text" name="Preis" id="Preis" size="6" value="@Model.GewählteSpeise.Preis" />
                            </div>
                            <div class="adminMittagstischSpeisenIstAktiv">
                                Ist Aktiv:<br />
                                <input type="checkbox" name="IstAktiv" id="IstAktiv" value="x" checked="@Model.GewählteSpeise.IstAktiv" />
                            </div>

                            <div class="adminMittagstischAllergene">
                                <b>Allergene:</b><br />
                                @{
                                    List<Allergene> als = (Model.AllergeneSpeise.Where(x => x.Key == Model.GewählteSpeise.id).Select(x => x.Value)).FirstOrDefault();

                                    foreach (Allergene item in Model.AlleAllergene)
                                    {
                                        <input type="checkbox" name="aids[]" id="aids[]" value="@item.id" checked="@(als != null && als.Contains(item))" /> @item.Bezeichnung<br />
                                    }
                                }

                            </div>

                            <div class="adminMittagstischSpeisenSortierung">
                                <br />
                                <input type="submit" name="btnSubmit" value="Eintragen" />
                            </div>

                        }
                    </td>
                </tr>
                //Tabellarische Darstellung der Speisen
                if (Model.AlleSpeisen.Count == 0)
                {
                    <tr>
                        <td colspan="2"><br /><b><big>Für diese Kategorie wurden noch keine Speisen eingegeben.</big></b></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="2">
                            <br /><br />
                            <table border="0" width="100%">
                                <tr>
                                    <td><b>Bezeichnung</b></td>
                                    <td><b>Beschreibung</b></td>
                                    <td><b>Preis</b></td>
                                    <td><b>IstAktiv</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                @foreach (Mittagstisch mt in Model.AlleSpeisen)
                                {
                                    <tr>
                                        <td>@mt.Bezeichnung</td>
                                        <td>@mt.Beschreibung</td>
                                        <td>@mt.Preis</td>
                                        <td>@mt.IstAktiv</td>
                                        <td>
                                            @using (Html.BeginForm("MittagstischSpeisenEintragen", "Admin", FormMethod.Post, new { id = "EingabeForm10" }))
                                            {
                                                <input type="hidden" name="KategorieId" id="KategorieId" value="@Model.AKModel.SelectedKategorie.Kategorie.id" />
                                                <input type="hidden" name="Level" id="Level" value="@Model.AKModel.SelectedKategorie.Level" />
                                                <input type="hidden" name="SpeiseId" id="Level" value="@mt.id" />
                                                <input type="hidden" name="Todo" id="Todo" value="Delete" />
                                                <input type="submit" value="Löschen" />
                                            }
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("MittagstischSpeisenEintragen", "Admin", FormMethod.Post, new { id = "EingabeForm11" }))
                                            {
                                                <input type="hidden" name="KategorieId" id="KategorieId" value="@Model.AKModel.SelectedKategorie.Kategorie.id" />
                                                <input type="hidden" name="Level" id="Level" value="@Model.AKModel.SelectedKategorie.Level" />
                                                <input type="hidden" name="SpeiseId" id="Level" value="@mt.id" />
                                                <input type="hidden" name="Todo" id="Todo" value="Edit" />
                                                <input type="submit" value="Bearbeiten" />
                                            }
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("Mittagstisch", "I18n", FormMethod.Post, new { id = "EingabeForm11" }))
                                            {
                                                <input type="hidden" name="id" id="id" value="@mt.id" />
                                                <input type="submit" value="I18n" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        }
    }




</table>


