@using GastroPages.Models
@model GastroPages.Models.AdminVeranstaltungsGetränkeModel
<h2>Veranstaltungen - Getränke</h2>
<br />
<table border="0" width="100%">
    <tr>
        <td class="adminMittagstischHeader">Kategorien</td>
        <td></td>
    </tr>
    
    @Html.Partial("_PartialKategorien", Model.AKModel)
    @{
        if (Model.AlleGetränke != null)
        {
            if (Model.AKModel.SelectedKategorie.SelectedKategorieHasChilds)
            {
                <tr>
                    <td colspan="2"><br /><b><big>Für diese Kategorie können keine Getränke eingegeben werden, weil Unterkategorien existieren.</big></b></td>
                </tr>
            }
            else
            {
                //Ab hier Code für die Dartsellung der Getränke
                //Formular für die Speise an sich
                <tr>
                    <td colspan="2">
                        <br />
                        <h2>Veranstaltungen Getränke</h2>
                        <br /><br />
                        @using (Html.BeginForm("VeranstaltungsGetränkeEintragen", "Admin", FormMethod.Post, new { id = "EingabeForm2" }))
                        {
                            <input type="hidden" name="GetränkeKategorie" id="GetränkeKategorie" value="@Model.AKModel.SelectedKategorie.Kategorie.id" />
                            <input type="hidden" name="Level" id="Level" value="@Model.AKModel.SelectedKategorie.Level" />
                            <input type="hidden" name="SpeiseId" id="Level" value="@Model.GewähltesGetränk.id" />

                            <div class="adminMittagstischSpeisenBezeichnung">
                                Bezeichnung:<br />
                                <input type="text" name="Bezeichnung" id="Bezeichnung" size="200" value="@Model.GewähltesGetränk.Bezeichnung" />
                            </div>

                            <div class="adminGetränkeErg1">
                                Beschreibung:<br />
                                <textarea type="text" name="Beschreibung" id="Beschreibung" cols="20" rows="5">@Model.GewähltesGetränk.Beschreibung</textarea>
                            </div>

                            <div class="adminGetränkeErg2">
                                Einheit:<br />
                                <input type="text" name="Einheit" id="Einheit" size="10" value="@Model.GewähltesGetränk.Einheit" />
                            </div>

                            <div class="adminMittagstischSpeisenPreis">
                                Preis/Einheit:<br />
                                <input type="text" name="PreisProEinheit" id="PreisProEinheit" size="6" value="@Model.GewähltesGetränk.PreisProEinheit" />
                            </div>

                            <div class="adminMittagstischSpeisenSortierung">
                                Sortierung:<br />
                                <input type="text" name="Sortierung" id="Sortierung" size="6" value="@Model.GewähltesGetränk.Sortierung" />
                            </div>

                            <div class="adminMittagstischSpeisenIstAktiv">
                                Ist Aktiv:<br />
                                <input type="checkbox" name="IstAktiv" id="IstAktiv" value="x" checked="@Model.GewähltesGetränk.IstAktiv" />
                            </div>

                            <div class="adminMittagstischAllergene">
                                <b>Allergene:</b><br />
                                @{
                                    List<Allergene> als = (Model.AllergeneSpeise.Where(x => x.Key == Model.GewähltesGetränk.id).Select(x => x.Value)).FirstOrDefault();

                                    foreach (Allergene item in Model.AlleAllergene)
                                    {
                                        <input type="checkbox" name="aids[]" id="aids[]" value="@item.id" checked="@(als != null && als.Contains(item))" /> @item.Bezeichnung<br />
                                    }
                                }

                            </div>

                            <div class="adminMittagstischSpeisenSortierung">
                                <br />
                                <input type="submit" name="btnSubmit" value="Eintragen" />
                            </div>

                        }
                    </td>
                </tr>
                //Tabellarische Darstellung der Speisen
                if (Model.AlleGetränke.Count == 0)
                {
                    <tr>
                        <td colspan="2"><br /><b><big>Für diese Kategorie wurden noch keine Getränke eingegeben.</big></b></td>
                    </tr>
                }
                else
                {
                    <table border="0" width="100%">
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><b>Bezeichnung</b></td>
                            <td><b>Beschreibung</b></td>
                            <td><b>Einheit</b></td>
                            <td><b>Preis/Einheit</b></td>
                            <td><b>IstAktiv</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (VeranstaltungsGetränke mt in Model.AlleGetränke)
                        {
                            <tr>
                                <td></td>
                                <td>@mt.Bezeichnung</td>
                                <td>@mt.Beschreibung</td>
                                <td>@mt.Einheit</td>
                                <td>@mt.PreisProEinheit</td>
                                <td>@mt.IstAktiv</td>
                                <td>
                                    @using (Html.BeginForm("VeranstaltungsGetränke", "Admin", FormMethod.Post, new { id = "EingabeForm10" }))
                                    {
                                        <input type="hidden" name="katid" id="katid" value="@Model.AKModel.SelectedKategorie.Kategorie.id" />
                                        <input type="hidden" name="Level" id="Level" value="@Model.AKModel.SelectedKategorie.Level" />
                                        <input type="hidden" name="SpeiseId" id="SpeiseId" value="@mt.id" />
                                        <input type="hidden" name="Todo" id="Todo" value="Delete" />
                                        <input type="submit" value="Löschen" />
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("VeranstaltungsGetränke", "Admin", FormMethod.Post, new { id = "EingabeForm11" }))
                                    {
                                        <input type="hidden" name="katid" id="katid" value="@Model.AKModel.SelectedKategorie.Kategorie.id" />
                                        <input type="hidden" name="Level" id="Level" value="@Model.AKModel.SelectedKategorie.Level" />
                                        <input type="hidden" name="SpeiseId" id="Level" value="@mt.id" />
                                        <input type="hidden" name="Todo" id="Todo" value="Edit" />
                                        <input type="submit" value="Bearbeiten" />
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("VeranstaltungsGetränke", "I18n", FormMethod.Post, new { id = "EingabeForm12" }))
                                    {
                                        <input type="hidden" name="id" id="id" value="@mt.id" />
                                        <input type="submit" value="I18n" />
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                }


            }
        }
    }




</table>
